@import url("https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap");

@font-face {
    font-family: "Habibi" ;
    src: url("https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap");
}

@font-face {
    font-family: "Irish Grover" ;
    src: url("https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

header{   
    display: grid;
    grid-template-columns: 1fr ;
    background-color: var(--green);
    font-size: 1.25em;
    color: var(--white);
    padding:  10px;

}
header p{
    display: grid;
    gri
    font-style: italic;
    margin-top: 20px;
    justify-content: space-between;

}
header div{
    display: flex;

}

h1{
    font-size: 2.5em;
    color:var(--white);
    font-family: "Irish Grover" ;
    text-shadow: 2px 2px var(--black);
  
    
    
}


nav{
    width: fit-content;

}

h2{
    font-size: 1.75em;
    margin: 10px;
    font-family: "Irish Grover" ;


}

main{
    font-family: "Habibi";
}
main p {
    margin: 10px;
   

}

h2{
}

h3{
    text-align: center;
    margin: 20px;
    font-family: "Irish Grover" ;

}
h3 + p{
    font-size: 1.25em;
    margin: 10px;
}


button{
    background-color: var(--orange);
    outline: var(--white) ;
    color: var(--white);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}

nav li{ 
    background-color: #E75D02;
    outline: var(--white) ;
    color: var(--white);
    text-align: center;
    float: none;
    padding: 5px 100px;
    border: 1px solid var(--white);
    margin: 20px;
    
}

.fruits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 20px;
}

.vegetables {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 20px;
}

figure {
    position: relative;
    width: fit-content;
    display: grid;
     
}

figure img{
    align-items: center;
}

figcaption {
    position: absolute;
    font-family: "Habibi" ;
    color: var(--white);
    background-color: var(--black);
    width: fit-content;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
}

footer{
    background-color: var(--green);
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: "Habibi" ;
}

footer {
    width: 100%;
    color: var(--white);
}

dl{
    text-align: center;
}

.Copyright{
    text-align: center;
}
/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width:428px) {
    header{
        display: flex;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      
    }

    header p{
        text-align: right;
       
    }


    .fruits {
        grid-template-columns: 1fr;
    }


    .vegetables {
        grid-template-columns: 1fr;
    }


}

/* --------------------MEDIA QUERY (medium) --------------------*/

@media screen and (min-width:834px) {
    
    header{
        display: flex;
        grid-template-columns: 1fr 1fr;
        
    }

    header p{
        text-align: right;
    }

    .fruits {
        grid-template-columns: 1fr 1fr;
    }
    .vegetables {
        grid-template-columns: 1fr 1fr;
    }
    footer h2 {
        display: flex;
      

}

}
/* --------------------MEDIA QUERY (large) --------------------*/

@media screen and (min-width:1280px) {
    header{
        
        
      
    }

    header p{
        text-align: right;

    }

    .fruits {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .vegetables {
        grid-template-columns: 1fr 1fr 1fr;
    }

    
}
/* --------------------MEDIA QUERY (XL) --------------------*/

@media screen and (min-width:1440px) {

    header{
        
        
      
    }

    header p {
        text-align: right;
       
    }
    .fruits {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .vegetables {
        grid-template-columns: 1fr 1fr 1fr 1fr;


    
}
}
}